@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff&display=swap);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

html
{
    height: 100%;
    font-family: 'Quicksand', serif;
}

body 
{
    text-align: center;
    height: 100%;
}
.navbar-brand
{
    font-family: 'Amatic SC', cursive;
    font-size: 96px;
    text-shadow: 2px 2px 2px #aaa;
    text-align: center;

    text-indent: 20px;
    color: #000000;
   
}

.insta{
    font-family: 'Quicksand', sans-serif;
}
.navbar-nav
{
    font-family: 'Quicksand', serif;
    font-weight: bold;
    font-size: 24px;
}

a {
  text-decoration: none;
}

nav {
    font-family: monospace;
}

ul { 
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
 
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
   
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   img:hover {
      opacity: 0.5;
      }

.parallax 
{
  /* The image used */
  background: 
    
    linear-gradient(
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.3)
    ),
    /* bottom, image */
    url("../images/snaps detail 2.JPG");
 

  /* Set a specific height */
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.parallaxmid 
{
  /* The image used */
  background-image: url("../images/iceland poppie.JPG");
  
  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 96px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;

    text-indent: 20px;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #000000;


}
h2
{
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
    text-indent: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
h3
{
     font-family: 'Quicksand', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;

}
p 
{
    font-family: 'Quicksand', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    text-align: left;
    padding-bottom: 20px;
   
}

footer{
    padding-left: 20px;
    padding-top: 40px;
     font-size: 12px;
}

section {
 display: flex;
  
}

aside {
    padding-left: 20px;
 flex: 2;
 }

article {
    
     flex: 3;
     padding-left: 60px;
     padding-right: 60px;
     vertical-align: middle;
}
.caption {
    font-family: 'Quicksand', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
    text-align: center;
}
}
.wrapper {
  padding: 10px;
  flex: 1 100%;
}

.leftside{
    float:left;
    width:48%;
    height:400px;
   
    margin:0 auto;}
.rightside{
    float:right;
    width:48%;
    height:400px;
    margin:0 auto;
}
.icon
{
    width: 100px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 60rem;
}